<div class="row">
    <div *ngFor="let city of cities;let indexOfelement=index;" class="col-xl-3 col-lg-4 col-md-6 cards">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{city.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="city.ranking != null">{{ 'city.inputs.rank.label' | translate }} : {{city.ranking}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image *ngIf="city.mainImage !=null " src="http://127.0.0.1:8000/{{city.mainImage.url}}" [alt]="city.mainImage.name">
            <mat-card-content>
                <p>{{city.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>{{'global.actions.view' | translate }}</button>
                <button mat-button>{{'global.actions.rank' | translate }}</button>
                <button mat-button mat-raised-button color="primary" (click)="deleteCity(city.id,indexOfelement)">{{'global.actions.delete' | translate }}</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 cards">
        <mat-card class="example-card" class="text-center rounded image-card" (click)="addCity()">
            <img mat-card-image class="img-fluid image-card-m image-card-item rounded" src="/assets/images/main/card_add.png" alt="Card Image Add">
        </mat-card>
    </div>
</div>