<div class="row">
    <div *ngFor="let city of cities;let indexOfelement=index;" class="col-xl-3 col-lg-4 col-md-6 cards">
        <app-city-card 
            [city]="city" 
            [index]="indexOfelement" 
            (deleted)=removeCity($event)>
        </app-city-card>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 cards">
        <mat-card class="example-card" class="text-center rounded image-card" (click)="addCity()">
            <img mat-card-image class="img-fluid image-card-m image-card-item rounded" src="/assets/images/main/card_add.png" alt="Card Image Add">
        </mat-card>
    </div>
</div>