<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">{{ 'app.name' | translate }}</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"  [hasBackdrop]=false  autosize>
        <mat-sidenav #snav [mode]="'push'" 
            [opened]="true"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/login" >{{ 'menu.login.label' | translate }}</a>
                <a mat-list-item routerLink="/city" >{{ 'menu.city.label' | translate }}</a>
            </mat-nav-list>
        </mat-sidenav>
  
        <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


