<form  class="example-form" [formGroup]="informationForm" (ngSubmit)="onSubmit(informationForm.value)">
	<div>
		<mat-form-field class="w-100">
			<mat-label>{{'city.inputs.region.label' | translate }}</mat-label>
				<input matInput formControlName="region" 
				placeholder="{{'city.inputs.name.placeholder' | translate }}">
		</mat-form-field>
		<mat-form-field class="w-100">
			<mat-label>{{'city.inputs.department.label' | translate }}</mat-label>
				<input matInput formControlName="department" type="number"
				placeholder="{{'city.inputs.department.placeholder' | translate }}">
		</mat-form-field>
		<mat-form-field class="w-100">
			<mat-label>{{ 'city.inputs.population.label' | translate }}</mat-label>
			<input type="number" matInput formControlName="population" >
		</mat-form-field>
		<mat-form-field class="w-100">
			<mat-label>{{ 'city.inputs.description.label' | translate }}</mat-label>
				<textarea matInput
	            cdkTextareaAutosize
				formControlName="description"
	            cdkAutosizeMinRows="1"></textarea>
		</mat-form-field>
	</div>
	<div class="mt-3">
		<button *ngIf="showPrevious" mat-button mat-raised-button color="primary" class="mr-2" matStepperPrevious>{{'global.actions.previous' | translate}}</button>
		<button mat-button mat-raised-button color="primary" [disabled]="city.id == null" type="submit">{{'global.actions.next' | translate}}</button>
	</div>
</form>