<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{city.name}}</mat-card-title>
        <mat-card-subtitle>{{city.region}} ({{city.department}})</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="city.mainImage !=null " src="http://127.0.0.1:8000/{{city.mainImage.url}}" [alt]="city.mainImage.name">
    <mat-card-content>
        <p>{{city.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>{{'global.actions.view' | translate }}</button>
        <button mat-button>{{'global.actions.rank' | translate }}</button>
        <button mat-button mat-raised-button color="primary" (click)="deleteCity(city.id,index)">{{'global.actions.delete' | translate }}</button>
    </mat-card-actions>
</mat-card>