<div *ngFor="let city of cities">
    <div><label>Name: <span>{{city.name}}</span></label></div>
    <div><label>creationDate: <span>{{city.creationDate}}</span></label></div>
    <div><label>mainImage: <img src="http://127.0.0.1:8000/{{city.mainImage.url}}" [alt]="city.mainImage.name"></label></div>
    <div class="informationMap" *ngFor="let map of city.informationMap">
        <div><label>Name: <span>{{map.name}}</span></label></div>
        <div><label>Value: <span>{{map.value}}</span></label></div>
    </div>
    <h2>Images</h2>
    <div *ngFor="let image of city.images">
        <div><img src="http://127.0.0.1:8000/{{image.url}}" [alt]="city.mainImage.name"></div>
    </div>
</div>